* {
    margin: 0 auto;
    /* padding: 0; */
    font-family: jura, sans-serif;
    box-sizing: border-box;
    /* border: red 2px solid; */
    font-size: 20px;
}

/* 
- A good starting point for layout it to set min-height for an element
- A good common practice is to create a .wrapper or .container class with a max-width parameter (i.e. it can't get bigger than a particular width, but it can shrink)
- In general, it's good to not declare width/height unless you have to!
*/


body {
    /* display: flex;
    flex-direction: column; */
    max-width: 800px;
}

img {
    display: block;
    max-width: 100%;
}


.logo {
    background-color: white;
    margin-top: 1em;
    /* max-width: 800px; */
}

.navBar {
    /* max-width: 800px; */
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #381586;
    color: white;
    padding: 0.5em;
}

.navBar li {
    font-size: 1.25em;
}

.navBar li:hover {
    color: #6DAEF0;
    cursor: pointer;
}

.heroContainer {
    /* max-width: 800px; */
}

.callToActionHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 800px; */
    background-color: white;
    color: #381586;
    font-size: 1em;
    padding: 0.5em;
}

.callToActionHeader a {
    text-decoration: none;
    color: #381586;
}

.callToActionHeader a:hover {
    text-decoration: underline;
}

.sticky {
    position: sticky;
    top: 0;
    /* width: 100%; */
}

.staffContainer {
    display: flex;
    background-color: #381586;
    padding: 3em 2em 2em;
    gap: 1em;
}

/*Image not keeping proportions when scaling*/

.staffImage {
    width: 25%;
}

.staffContent {
    width: 75%;
    color: white;
}

.staffContent h1 {
    font-size: 1.75em;
}

.staffContent p {
    padding: 1em 0;
}

.staffContent button {
    background-color: white;
    padding: .5em;
    border-radius: .5em;

}

.staffContent a {
    color: #381586;
    text-decoration: none;
}

.staffContent a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.treatmentsCard {
    display: flex;
    flex-direction: column;
    background-color: #6DAEF090;
    border: red 2px solid;
    padding: 1em;
}

.treatmentsCard h1 {
    justify-content: center;
    font-size: 1.75em;
}

.treatmentsContent {
    display: flex;
    gap: 2em;
}

.treatmentsFormatting {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: red 2px solid;
}

.treatmentsFormatting h2 {
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: underline;
}

/* 
.massageTherapy {
    display: flex;
    flex-direction: column;
    width: 50%;
} */


.mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




/* .treatments-container {
    background-image: url("./images/room.jpg");
} */