* {
    margin: 0 auto;
    font-family: jura, sans-serif;
    box-sizing: border-box;
    /* border: red 2px solid; */
    font-size: 20px;
}

/* 
- A good starting point for layout it to set min-height for an element
- A good common practice is to create a .wrapper or .container class with a max-width parameter (i.e. it can't get bigger than a particular width, but it can shrink)
- In general, it's good to not declare width/height unless you have to!
*/


body {
    max-width: 800px;
}

.logo {
    background-color: white;
    margin-top: 1em;
    /* max-width: 800px; */
}

.navBar {
    /* max-width: 800px; */
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #381586;
    color: white;
    padding: 0.5em;
}

.navBar a {
    text-decoration: none;
    color: white;
}

.navBar li {
    font-size: 1.25em;
}

.navBar li:hover {
    color: #6DAEF0;
    cursor: pointer;
}

.heroContainer {
    /* max-width: 800px; */
}

img {
    display: block;
    max-width: 100%;
}

.callToActionHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 800px; */
    background-color: white;
    color: #381586;
    font-size: 1em;
    padding: 0.5em;
}

.callToActionHeader a {
    text-decoration: none;
    color: #381586;
}

.callToActionHeader a:hover {
    text-decoration: underline;
}

.sticky {
    position: sticky;
    top: 0;
    /* width: 100%; */
}

.staffContainer {
    display: flex;
    background-color: #381586;
    padding: 3em 2em 2em;
    gap: 1em;
}

.staffImage {
    width: 25%;
}

.staffContent {
    width: 75%;
    color: white;
}

.staffContent h1 {
    font-size: 1.75em;
}

.staffContent p {
    padding: 1em 0;
}

.staffContent button {
    background-color: white;
    padding: .5em 1em;
    border-radius: .5em;
}

.staffContent a {
    color: #381586;
    text-decoration: none;
}

.staffContent a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.treatmentsContainer {
    background-image: url("./images/room.jpg");
    background-size: 800px;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.treatmentsCard {
    display: flex;
    flex-direction: column;
    background-color: rgb(109, 174, 240, 0.9);
    width: 80%;
    margin: 2em 0em 10em;
    padding: 1.5em .5em 2.5em;
}

.treatmentsCard h1 {
    justify-content: center;
    font-size: 1.75em;
    padding-bottom: 1em;
}

.treatmentsContent {
    display: flex;
    gap: 2em;
}

.treatmentsFormatting {
    width: 50%;
}

.massageTherapy p:nth-of-type(2) {
    color: #381586;
}

.massageTherapy p:nth-of-type(5) {
    color: #381586;
}

.treatmentsFormatting h2 {
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: underline;
    text-align: left;
}

.hoursContainer {
    display: flex;
    gap: 2em;
    background-color: rgb(109, 174, 240);
}

.hoursContent {
    width: 60%;
    padding: 2em 0 2em 1em;
}

.hoursContent h2 {
    font-size: 1.75em;
    text-decoration: underline;
}

.hoursContent ul {
    list-style-type: none;
    padding: 1.5em 0 1.5em;
}

.hoursContent li {
    font-size: 1.5em;
}

.hoursImage {
    width: 40%;
    padding: 2em 1em 2em 0;
}


.mapContainer {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
}

.mapContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.mapNote {
    display: flex;
    color: #381586;
    padding: 0.5em 0 1.5em;
}

.footer {
    display: flex;
    color: white;
    background-color: #381586;
    padding: 1em 0;
}




/* .treatments-container {
    background-image: url("./images/room.jpg");
} */